@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var nome = "";
    if (SignInManager.IsSignedIn(User))
    {
        var splitName = User.Claims.Where(cl => cl.Type.Equals("Nome", StringComparison.OrdinalIgnoreCase)).FirstOrDefault().Value.Split(' ');

        nome = (splitName.Length == 1) ? "" : String.Concat(splitName[0], ' ', splitName[splitName.Length - 1]);
    }
}
<ul class="horizontal">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item pull-right logged-dropdown">
            <a class="nav-link text-light">Olá @nome</a>
            <div class="logged-dropdown-content">
                    @if (User.IsInRole("gerente"))
                    {

                        <a class="nav-link text-light" asp-action="Details" asp-controller="Funcionarios" asp-route-id="@UserManager.GetUserId(User)">Perfil</a>
                    }
                    else
                    {
                        <a class="nav-link text-light" asp-action="Details" asp-controller="Utilizadores" asp-route-id="@UserManager.GetUserId(User)">Perfil</a>
                    }

                
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Sair</button>
                </form>
            </div>

        </li>
    }
    else
    {
        <li class="nav-item pull-right">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user-o text-light"></i>Entrar</a>
        </li>
    }

</ul>