@{
    ViewBag.Title = "Contact";
}
<h2>Contactos</h2>
<hr />
<br />
<address>
    Para entrar em contacto comigo pode utilizar o meu email de aluno.
</address>

<hr />
<address>
    <strong>Email de Aluno:</strong>   <a href="aluno20461@ipt.pt">aluno20461@ipt.pt</a>
</address>