@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">SoundGenius</h1>
        <p></p>
        <img src="~/Imagens/Logo1.jpeg" alt="imagem do Logo " />
    </div>
